.header {
    padding-top: 50px;
    padding-bottom: 12px;
    background-color: $bg-grey;
}

@media(max-width: $tablet-width) {
    .header {
        padding-top: 30px;
    }
}

@media(max-width: $mobile-width) {
    .header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
