.about__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 2px solid $bg-grey;
}

.about__inner {
    flex-basis: 700px;

    &:last-child {
        flex-basis: 360px;
    }
}

.about__title {
    width: 100%;
    max-width: 700px;
    margin: 0;
    margin-top: 35px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: $text-black;
}

.about__text {
    width: 100%;
    max-width: 680px;
    margin: 0;
    margin-top: 30px;
    line-height: 24px;
    color: $text-dark-primary;
}

.about__subtitle {
    margin: 0;
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $text-black;
    text-transform: uppercase;
}

.about__list {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    line-height: 24px;
    list-style: none;
}

.about__item {
    margin-top: 24px;
    position: relative;
    padding-left: 36px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 25px;
        height: 2px;
        transform: translate(0, -50%);
        background-color: $bg-red;
    }
}

.about__statistic {
    margin-top: 30px;
}

@media(max-width: $desktop-width) {
    .about__inner {
        flex-basis: 650px;
    }

    .about__title {
        font-size: 40px;
    }

    .about__text {
        max-width: 600px;
    }
}

@media(max-width: $tablet-width) {
    .about__wrap {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .about__inner {
        flex-basis: 370px;

        &:last-child {
            flex-basis: 300px;
        }
    }

    .about__title {
        max-width: 350px;
        margin-top: 0;
        font-size: 24px;
        line-height: 28px;
    }

    .about__text {
        max-width: 350px;
        margin-top: 20px;
    }

    .about__subtitle {
        margin-top: 25px;
    }

    .about__item {
        margin-top: 20px;
        padding-left: 25px;
        font-size: 14px;

        &::before {
            width: 15px;
        }
    }

    .about__img {
        max-width: 300px;
    }

    .about__statistic {
        margin-top: 35px;
    }
}

@media(max-width: $mobile-width) {
    .about__wrap {
        display: block;
        max-width: 320px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .about__title {
        font-size: 20px;
        line-height: 24px;
    }

    .about__text {
        max-width: 290px;
    }

    .about__subtitle {
        font-size: 15px;
        line-height: 20px;
    }

    .about__item {
        margin-top: 15px;
        line-height: 22px;

        &::before {
            top: 10px;
            transform: none;
        }
    }

    .about__img {
        margin-top: 30px;
    }
}
