.contacts {
    box-sizing: border-box;
    width: 320px;
    padding: 50px;
    background-color: $bg-white;
}

.contacts__title {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-black;
}

.contacts__text {
    width: 100%;
    max-width: 210px;
    margin: 0;
    margin-top: 20px;
    line-height: 18px;
    color: $text-light;
}

.contacts__btn {
    margin-top: 35px;
}

@media(max-width: $tablet-width) {
    .contacts {
        width: 280px;
        padding: 30px;
    }
}

@media(max-width: $mobile-width) {
    .contacts {
        width: 320px;
        padding: 15px;
    }
}
